.archtcturalSlider .slick-prev,
.archtcturalSlider .slick-next {
  background-color: #00000045 !important;
  width: 35px !important;
  height: 45px !important;
  z-index: 100;
  /* border-radius: 50%; */
}

.archtcturalSlider .slick-next {
  right: -40px !important;
  border-radius: 0% 0% 0% 0%;
}
.archtcturalSlider .slick-prev {
  left: -40px !important;
  border-radius: 0% 0% 0% 0%;
}
.gap-twnty {
  gap: 50px !important;
}
