@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- project layOut max width -------->  */
.d-max-w-screen-xl {
  max-width: 1900px;
}

@media (max-width: 1023px) {
  .d-max-w-screen-xl {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.dashboard-left-container {
  width: 25%;
  background-color: #fff;
  height: 100dvh;
}
.dashboard-body {
  width: 100%;
}

.Academic-Courses {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.view-button-user {
  background-color: #111 !important;
}
.view-button-user:hover {
  background-color: #111111a5 !important;
}
