@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-left-container {
  width: 25%;
  background-color: #fff;
  height: 100dvh;
}
.dashboard-body {
  width: 100%;
}
.dashboard-max-w-screen-xl {
  max-width: 1500px;
}

.Academic-Courses {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.view-button-user {
  background-color: #111 !important;
}
.view-button-user:hover {
  background-color: #111111a5 !important;
}
