@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.dashboard-left-container {
  width: 25%;
  background-color: #fff;
  height: 100dvh;
}
.dashboard-body {
  width: 100%;
}
.dashboard-max-w-screen-xl {
  max-width: 1500px;
}

.Academic-Courses {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
