@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.background-profile {
  background-image: url("../../Assets/untility/profile.jpg");
  height: 55vh !important;
  width: 100% !important;
}
.profile-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
